/*Header*/
.container {
    width: 1368px;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
}

.hidden {
    display: none;
}

.header {
    margin: 30px 36px 31px 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;

}

.button {
    border: none;
    padding: 10px 12px 10px 12px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    cursor: pointer;
}

.header__button--explore {
    position: relative;
    padding: 10px 28px 10px 12px;
    background-color: #0F8277;
    color: #EEEEEE;
}

.header__button--explore:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 86px;
    width: 2px;
    height: 7px;
    border-radius: 8px;
    transform: rotate(45deg);
    background-color: #EEEEEE;
}

.header__button--explore:before {
    content: "";
    position: absolute;
    top: 18px;
    left: 82px;
    width: 2px;
    height: 7px;
    border-radius: 8px;
    transform: rotate(-45deg);
    background-color: #EEEEEE;
}

.header__button--explore:hover .header__nav-content,
.header__nav-content {
    display: block;
}

.header__nav-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 384px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px 12px 32px 12px;
    background-color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    z-index: 1;
    text-align: left;
    box-sizing: border-box;
}

.header__explore-nav .explore__list:nth-of-type(2) {
    margin-bottom: 40px;
}

.explore__item {
    margin-bottom: 16px;
}

.explore__list .explore__item:last-child {
    margin-bottom:0;
}

.explore__link {
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

.explore__line {
    margin: 40px 0;
}

.explore__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 24px;
    color: black;
}

.header__form {
    display: flex;
    align-items: center;
}

.header__input {
    padding: 9.7px 72px 9.7px 12px;
    font-size: 16px;
    line-height: 120%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #5C5C5C;
    border-right: none;
}

.header__input:focus {
    outline: none;
}


.header__search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #0F8277;
    padding: 10px;
    border: 1px solid #5C5C5C;
    cursor: pointer;
}

.learn__list {
    width: 249px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.learn__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 120%;
}

.header__auth {
    width: 168px;
    display: flex;
    justify-content: space-between;
}

.header__button--log-in {
    color: #0F8277;
}

.header__button--sign-up {
    color: #EEEEEE;
    background-color: #0F8277;
}

/* Main */
.promo {
    background-color: #DBF3ED;
    position: relative;
    display: flex;
    padding: 170px 0 184px 110px;
    border-radius: 15px;
}

.promo__content {
    width: 512px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo__title {
    font-size: 56px;
    font-weight: bold;
    line-height: 120%;
}

.promo__description {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.promo__button--primary {
    color: #EEEEEE;
    background-color: #0F8277;
}

.promo__button--secondary {
    color: #0F8277;
    background-color: transparent;
    border: 2px solid #0F8277;
}

.promo__image {
    position: absolute;
    top: 39px;
    left: 713px;
}

.section {
    margin-bottom: 80px;
    margin-left: 36px;
    margin-right: 36px;
}

.section:last-child {
    margin-bottom: 0;
}

.info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    color: #0F8277;
}

.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #000000;
}

.text {
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.program__grid {
    display: grid;
    width: 100%;
    grid-column-gap: 24px;
    grid-template: repeat(1, 480px) / repeat(3, 416px);
}

.program__card {
    height: 480px;
    width: 416px;
    display: grid;
    grid-template: 270px 210px / repeat(1, 1fr);
    border: 1px solid #DADADA;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
}

.card__link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #0F8277;
}

.card__link-highlight {
    margin-left: 12px;
}

.card__content {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.program__card .card__content {
    width: 416px;
}


.card__image {
    background-repeat: no-repeat;
    background-size: contain;
}

.card__image--pc {
    background-image: url("../images/academic-training/image-3.png");
}

.card__image--eu {
    background-image: url("../images/academic-training/image-2.png");
}

.card__image--dan {
    background-image: url("../images/academic-training/image-1.png");
}

.card__info {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__company-content {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 16px;
}

.card__company-icon {
    margin-right: 12px;
}

.card__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
}

.courses__grid {
    display: grid;
    width: 100%;
    grid-column-gap: 24px;
    grid-template: repeat(1, 480px) / repeat(4, 306px);
    margin-bottom: 40px;
}

.courses__card {
    overflow: hidden;
    width: 306px;
    height: 480px;
    display: grid;
    grid-template: 270px 210px / repeat(1, 1fr);
    border: 1px solid #DADADA;
    border-radius: 10px;
    box-sizing: border-box;
}

.courses__grid .card__content {
    width: 306px
}

.card__image--ui {
    background-image: url("../images/popular-courses/image-1.png");
}

.card__image--fullstack {
    background-image: url("../images/popular-courses/image-2.png");
}

.card__image--qa {
    background-image: url("../images/popular-courses/image-3.png");
}

.card__image--smm {
    background-image: url("../images/popular-courses/image-4.png");
}

.courses__link {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    color: #0F8277;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
}

.courses__link-text {
    margin-right: 16px;
    text-align: center;
}

/*Categories*/
.category__title {
    margin-bottom: 40px;
}

.category__grid {
    display: grid;
    width: 100%;
    grid-column-gap: 24px;
    grid-template-columns: repeat(4, 306px);
    margin-bottom: 40px;
}

.category__group-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 32px;
}

.category__topic {
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    color: #0F8277;
}

.category__count {
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.category__item {
    margin-bottom: 32px;
}

.category__item:last-child {
    margin-bottom: 0;
}

.partners {
    background-color: #DBF3ED;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 80px 36px;
}

.partners__title {
    margin-bottom: 60px;
}

.partners__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Business */
.business {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business__content {
    width: 636px;
    height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.business__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.business__btn {
    background-color: #0F8277;
    color: #EEEEEE;
}

.business__grid {
    display: grid;
    grid-template: repeat(3, 136px) / repeat(3, 196px);
    overflow: hidden;
}

.business__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    position: relative;
    width: 196px;
    height: 136px;
}

.business__logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #BABABA;
    top: 0;
    left: 0;
}

.business__logo::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #BABABA;
    top: 2%;
    left: 100%;
}

.business__grid > .business__logo:nth-child(1)::after,
.business__grid > .business__logo:nth-child(2)::after,
.business__grid > .business__logo:nth-child(3)::after{
    display: none;
}

/*Plans*/
.plan {
    margin-left: 0;
    margin-right: 0;
    padding: 80px 36px 100px 36px;
    background-color: #DBF3ED;
}

.plan__title {
    margin-bottom: 40px;
}

.plan__grid {
    display: grid;
    grid-template: repeat(1, 698px) / repeat(3, 416px);
    grid-column-gap: 24px;
}

.plan__card {
    color: #000000;
    padding: 56px;
    background-color: #FDFDFD;
    border-radius: 20px;
    border: 1px solid #0F8277;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.plan__card-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    margin-bottom: 24px;
}

.plan__card-text {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
}

.plan__card-price {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 120%;
    margin-top: 27px;
    margin-bottom: 75px;
}

.plan__price-period {
    font-size: 16px;
    font-weight: normal;
    margin-left: 16px;
}

.plan__card-link {
    background-color: #0F8277;
    color: #F6FDFF;
    text-decoration: none;
}

.plan__card-line {
    width: 100%;
    color: #0F8277;
    margin: 48px 0;
}

.plan__card-item {
    font-size: 16px;
    line-height: 120%;
    list-style-image: url("../images/bullit.svg");
    padding-left: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.plan__card-content {
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.plan__card--active {
    background-color: #0F8277;
    color: #FFFFFF;
}

.plan__card--active .plan__card-link {
    border: 1px solid #FFFFFF;
}

.plan__card--active .plan__card-price {
    margin: 27px 0;
}

.plan__card--active .plan__card-line {
    color: #FFFFFF;
}
.plan__card--active .plan__card-item {
    list-style-image: url("../images/bullit.png");
}

.plan__card:nth-child(3) .plan__card-price{
    margin-bottom: 46px;
}

.students__title {
    text-align: center;
    margin-bottom: 40px;
}

.students__grid {
    display: grid;
    grid-template: repeat(3, 210px) / repeat(4, 306px);
    grid-gap: 24px;
}

.students__image {
    background-size: cover;
}

.students__image:nth-child(1) {
    background-image: url("../images/students/students-1.png");
}

.students__image:nth-child(2) {
    background-image: url("../images/students/students-2.png");
}

.students__image:nth-child(3) {
    background-image: url("../images/students/students-3.png");
}

.students__image:nth-child(4) {
    background-image: url("../images/students/students-4.png");
}

.students__image:nth-child(5) {
    background-image: url("../images/students/students-5.png");
}

.students__image:nth-child(6) {
    background-image: url("../images/students/students-6.png");
}

.students__image:nth-child(7) {
    background-image: url("../images/students/students-7.png");
}

.students__image:nth-child(8) {
    background-image: url("../images/students/students-8.png");
}

.students__image:nth-child(9) {
    background-image: url("../images/students/students-9.png");
}

.students__image:nth-child(9) {
    grid-column: 2 / 4;
    grid-row: 1/3;
}

.students__image:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.students__image:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

.students__image:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

.students__image:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}

.students__image:nth-child(6) {
    grid-column: 4;
    grid-row: 3;
}

.students__image:nth-child(8) {
    grid-column: 4;
    grid-row: 1;
}

.contact {
    background-color: rgba(0, 0, 0, .65);
    background-blend-mode: darken;
    background-image: url("../images/image 32.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 64px;
    padding-bottom: 47px;
    margin: 0;
}

.contact-form {
    width: 565px;
    margin: 0 auto;
    background-color: #DBF3ED;
    border: 1px solid #0F8277;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.contact-form>* {
    margin-bottom: 24px;
}

.contact-form__title {
    text-align: center;
}

.contact-form__description {
    text-align: center;
    font-size: 20px;
    line-height: 120%;
}

.contact-form__field>.contact-form__label {
    display: block;
    margin-bottom: 8px;
}

.contact-form__input,
.contact-form__textarea {
    width: calc(100% - 30px);
    padding: 12px;
    border: 1px solid #0F8277;
    border-radius: 5px;
}

.contact-form__input:focus,
.contact-form__textarea:focus{
    outline: none;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

.contact-form__textarea {
    resize: none;
}

.contact-form__button {
    padding: 10px 77px;
    color: #F6FDFF;
    border-radius: 3px;
    background-color: #0F8277;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F1F1;
    padding: 64px 36px;
}

.footer__branding {
    width: 306px;
}

.footer__title {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 120%;
}

.footer__description {
    font-size: 16px;
    line-height: 120%;
}

.footer__contacts {
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__social-media {
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 16px;
    line-height: 120%;
}

.footer__social-icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.footer__social-icon--instagram {
    background-image: url("../images/Frame.svg");
}

.footer__social-icon--facebook {
    background-image: url("../images/Frame(1).svg");
}

.footer__social-icon--linkedin {
    background-image: url("../images/Frame(2).svg");
}